@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.5rem;
}

/* styles/Home.module.css */

@keyframes leaveRotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.leaveRotate {
  animation: leaveRotate 13s ease-in-out infinite alternate;
}

/* Media query*/
@media (max-width: 768px) {
  .leaveRotate {
    animation: leaveRotateSmall 12s ease-in-out infinite alternate;
  }
}

@keyframes leaveRotateSmall {
  0%, 100% {
    transform: rotate(0deg) scale(0.7);
  }
  50% {
    transform: rotate(14deg) scale(0.7);
  }
}

.centerDiv {
  #content {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px; /* Need a specific value to work */
  }
}

.gradientMain {
background: #171212;
background: radial-gradient(circle,rgba(23, 18, 18, 1) 25%, rgba(15, 109, 84, 0.24) 99%, rgba(255, 255, 255, 0) 100%);
}

