@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.5rem;
}

/* styles/Home.module.css */

@keyframes leaveRotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.leaveRotate {
  animation: leaveRotate 13s ease-in-out infinite alternate;
}

/* Media query*/
@media (max-width: 768px) {
  .leaveRotate {
    animation: leaveRotateSmall 15s ease-in-out infinite alternate;
  }
}

@keyframes leaveRotateSmall {
  0%, 100% {
    transform: rotate(0deg) scale(0.7);
  }
  50% {
    transform: rotate(10deg) scale(0.7);
  }
}
